mac/DerivedData
mac/m8rscript.xcodeproj/xcuserdata/
mac/m8rscript.xcodeproj/project.xcworkspace/
m8rscript/.settings
esp/out/
esp/build/
SpiffsFSFile
mac/build
m8rFSFile
sdkconfig.old
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
m8rscript.map
.gdb_history
